.nav {
  text-align: right;
  margin: 20px 30px 0 0;
}

.nav span {
  margin: 0 10px 0 5px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: black;
  display: inline-block;
  vertical-align: middle;
}

.nav span a img {
  transform: translateY(2px);
  transition-duration: 0.3s;
}

.nav span a {
  text-decoration: none;
  opacity: .5;
  color: black;
  transition-duration: 0.3s;
}

.nav span a:hover {
  text-decoration: underline;
  opacity: 1;
  color: black;
}

.nav span button {
  background-color: #016fde;
  color: white;
  border: none;
  padding: 7px 12px 7px 12px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  transition-duration: 0.3s;
}

.nav span button:hover {
  background-color: #017bf6;
}

#logo {
  display: block;
  margin: 80px auto 0 auto;
}

#searchField:focus, #searchField:hover {
  border-color: grey;
}

#searchField {
  display: block;
  width: 570px;
  height: auto;
  margin: 15px auto 5px auto;
  border: 1px solid lightgrey;
  border-radius: 3px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: grey;
  outline: none;
  padding: 5px 5px 5px 5px;
  transition-duration: 0.3s;
}

.Sbutton button {
  background-color: #f2f2f2;
  width: 150px;
  height: 40px;
  color: grey;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  padding: 7px 15px 7px 15px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin: 5px 5px 0 5px;
  transition-duration: 0.3s;
}

.Sbutton button:hover {
  border: 1px solid grey;
  color: black;
}

.Sbutton {
  display: block;
  margin: 20px auto;
  text-align: center;
}

p {
  display: block;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 12px;
  margin: 5px auto;
  color: grey;
}

p a {
  text-decoration: none;
  color: blue;
  transition-duration: 0.3s;
}

p a:hover {
  text-decoration: underline;
}

#footer {
  position: absolute;
  width: auto;
  height: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  border: 1px solid lightgrey;
  padding-top: 10px;
  text-align: right;
}

.left, .right {
  display: inline-block;
}

.left {
  float: left;
}

.rigth {
  float: right;
}

#footer div span {
  display: inline-block;
  margin: 0px 15px 0 15px;
  font-family: arial, sans-serif;
  font-size: 13px;
}

#footer div span a {
  color: grey;
  text-decoration: none;
  transition-duration: 0.3s;
}

#footer div span a:hover {
  text-decoration: underline;
}
