.nav {
  text-align: right;
  margin: 20px 30px 0 0;
}

.nav span {
  margin: 0 5px 0 5px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: black;
  line-height: 24px;
  display: inline-block;
}

.nav span a {
  text-decoration: none;
  opacity: .5;
  color: black;
}

.nav span a:hover {
  text-decoration: underline;
  opacity: 1;
  color: black;
}

.nav span button {
  background-color: #016fde;
  color: white;
  border: none;
  padding: 7px 12px 7px 12px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.nav span button:hover {
  background-color: #017bf6;
}

#logo {
  display: block;
  margin: 120px auto;
}
